@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 950px;
    padding: 20px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 30px;
}

.header__element{
    min-width: 140px;
    min-height: 140px;
    background-color: #F0F0F0;
    border-radius: 12px;
    justify-content: center;
}

.header__photo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__intro {
    width: 25%;
    padding: 15px;
}

.header__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__title {
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
    margin-bottom: 28px;
}

.header__name {
    font-size: 1.4rem;
    margin-top: 5px;
    font-weight: 600;
}

.header__profession {
    font-size: 1.2rem;
    color: #777;
}

.header__languages {
    width: 50%;
    padding: 15px;
}

.languages__wrapper {
    display: flex;
}

.languages__list {
    display: flex;
    flex-direction: column;
    width: 20%;
    list-style: none;
    padding-left: 0;
    gap: 5px;
}

.languages__item {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #000;
}

.languages__bar-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.languages__bar {
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;
    height: 10px;
    padding: 5px;
}

.languages__fill {
    height: 100%;
    background-color: #28D979;
    border-radius: 3px;
}

.languages__fill_full {
    width: 100%;
}

.languages__fill_medium {
    width: 78%;
}

.languages__fill_small {
    width: 70%;
}

.main-content__section {
    margin-bottom: 30px;
}

.personal {
    display: flex;
    height: 30%;
    gap: 30px
}

.education {
    width: 50%;
    background-color: #F0F0F0;
    border-radius: 12px;
    padding: 15px;
}

.languages__title, .education__title, .interests__title, .contact__title, .experience__title, .tools__title {
    font-size: 1.5rem;
    margin-bottom: 28px;
    color: #000;
    font-weight: 500;
}

.board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.education__item {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.education__year {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 1.2rem;
    line-height: 1;
}

.education-wrapper {
    margin-bottom: 10px;
}
.education__course {
    font-size: 1.1rem;
    font-weight: 500;
}

.education__tag {
    color: #149063;
    font-size: 0.9rem;
    font-weight: 300;
}

.education__institution {
    font-size: 0.8rem;
    color: #000;
    opacity: 0.8;
}

.extra-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    gap: 30px;
    justify-content: space-between;
}

.interests {
    width: 100%;
    padding: 15px;
    background-color: #F0F0F0;
    border-radius: 12px;
}

.interests__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.interests__item {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 1.1rem;
}

.contact-container {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.contact-container__wrapper {
    display: flex;
}

.contact-container__email, .contact-container__phone {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 200;
    color: #DDDDDD;
    line-height: 1.1;
}

.contact-container__content {
    margin-bottom: 15px;
}

.contact-container__phone {
    margin-left: 20px;
    padding-left: 20px;
    border-left: solid;
    border-color: #DDDDDD;
    border-width: 1px;
}

.competence {
    display: flex;
    height: 55%;
    gap: 30px;
}

.tools, .experience {
    padding: 15px;
    background-color: #F0F0F0;
    border-radius: 12px;
}

.tools {
    width: 20%;
}

.tools__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tools-board {
    text-align: center;
}

.tools-board__title {
    display: inline-block;
    background-color: #000;
    border-radius: 18px;
    padding: 2px 10px;
    color: #fff;
    font-weight: 300;
    font-size: 0.6rem;
}

.tools-board__content {
    background: #ffffff;
    border-radius: 6px;
    padding: 20px 0px 20px 0px;
    margin-top: -15px;
    gap: 0;
}

.tools-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto;
}

.experience{
    width: 80%;
}

.experience-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.experience-item__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.experience-item__content {
    display: flex;
    gap: 20px;
}

.item-content__block-job {
    width: 35%;
}

.item-content__block-details {
    width: 65%;
}

.experience-item__date {
    font-weight: 500;
    font-size: small;
}

.item-content__role {
    font-size: 1.05rem;
    font-weight: 500;
}

.item-content__role-details {
    color: #3F3D3D;
    font-size: 0.8rem;
    opacity: 0.8;
}

.item-content__details {
    font-size: 0.8rem;
}

.tools__title {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p, span, li {
    margin: 0;
}

li {
    list-style-image: url('./assets/img/small-dot.png');
}

.favorite {
    color: #fff;
    background-color: #28D979;
}

.favorite li {
    list-style-image: url('./assets/img/spall-dot-favorite.png');
}

.favorite-wrapper {
    display: flex;
    justify-content: space-between;
}

.favorite-recent {
    color: #DDF163;
    font-size: 0.9rem;
    text-align: center;
    background-color: rgb(126, 115, 18, 0.3);
    border-radius: 20px;
    padding: 5px 10px;
}

.like {
    width: 25px;
    height: 20px;
}

[contenteditable] {
    position: relative;
    overflow: hidden;
    transition: border-radius 0.6s, background-color 0.6s ease, box-shadow 0.5s ease;
}

[contenteditable]:hover {
    background-color: #fffff0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    outline: none;
    border-radius: 10px;
    color: #000;
}

[contenteditable]:focus {
    background-color: #fbfbd5; 
    box-shadow: none; 
    outline: none;
    border-radius: 10px;
    color: #000;
}

.download-button {
    display: block;
    margin-top: 10px;
    padding: 20px;
    background-color: #F0F0F0;
    font-size: 1.3rem;
    font-weight: 600;
    border-width: 0;
    border-radius: 12px;
    transition: opacity 0.5s;
}

.download-button:hover {
    cursor: pointer;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 251, 5, 0.954);
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
    z-index: 1;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@media (max-width: 900px) {
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f8f8f8;
        color: #333;
        line-height: 1.2;
        margin: 0;
        padding: 0;
    }
    
    .container {
        padding: 13px 20px;
    }
    
    .header {
        margin-bottom: 20px;
        gap: 20px;
    }
    
    .header__intro {
        padding: 10px;
    }
    
    .header__title {
        font-size: 0.8rem;
        margin-bottom: 19px;
    }
    
    .header__name {
        font-size: 1rem;
        margin-top: 3px;
    }
    
    .header__profession {
        font-size: 0.8rem;
    }
    
    .header__languages {
        padding: 10px;
    }
    
    .languages__list {
        gap: 3px;
    }
    
    .languages__item {
        font-size: 0.933rem;
    }
    
    .languages__bar-wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 6px
    }
    
    .languages__bar {
        margin-left: 7px;
        height: 7px;
        padding: 2px;
    }
    
    .main-content__section {
        margin-bottom: 20px;
    }
    
    .personal {
        gap: 20px
    }
    
    .education {
        padding: 10px;
    }
    
    .languages__title, .education__title, .interests__title, .contact__title, .experience__title, .tools__title {
        font-size: 1.1rem;
        margin-bottom: 19px;
    }
    
    .board {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .education__item {
        padding: 10px;
    }
    
    .education__year {
        font-size: 1rem;
    }
    
    .education-wrapper {
        margin-bottom: 7px;
    }
    
    .education__institution {
        font-size: 1rem;
    }
    
    .extra-info {
        gap: 20px;
    }
    
    .interests {
        padding: 10px;
    }
    
    .interests__item {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 5px 15px;
        font-size: 1.1rem;
    }
    
    .contact-container {
        padding: 12px;
        font-size: 1.1rem;
    }

    .contact-container__wrapper {
        flex-direction: column;
    }
    
    .contact-container__email, .contact-container__phone {
        width: 100%;
        font-size: 1.1rem;
        margin: auto;
    }
    
    .contact-container__content {
        margin-bottom: 10px;
    }
    
    .contact-container__phone {
        margin-top: 10px;
        padding: 0;
        border-left: none;
    }
    
    .competence {
        gap: 20px;
    }
    
    .tools, .experience {
        padding: 10px;
    }
    
    .tools__content {
        gap: 12px;
    }
    
    .tools-board__title {
        padding: 2px 5px;
    }
    
    .tools-board__content {
        padding: 12px 0px 12px 0px;
    }
    
    .tools-icon {
        width: 30px;
        height: 30px;
        margin: 12px auto;
    }
    
    .experience-item {
        margin-bottom: 10px;
    }
    
    .experience-item__content {
        gap: 12px;
    }
}